@media screen and (max-width:1262px ) {
    .search_box {
        width: 95%;
    }
}

@media screen and (max-width:1286px) {
    .cards{
        overflow-x: scroll;
        gap: 10px;
    }
}
@media screen and (max-width:1080px) {
    .offers{
        margin-top: 366px;
    }
}
@media screen and (max-width:848px) {
    .offers{
        margin-top: 366px;
    }
    .search_box {
        width: 100%;
    }
}
@media screen and (max-width:960px) {
    .offers{
        margin-top: 366px;
    }
    .search_box {
        width: 100%;
    }
    #menu{
        display: block;
    }
    ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100px; 
        height: max-content;
        top:-500px;
        right: 40%;
        z-index: 100;
        background-color: white;
        list-style: none;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
      }
}